/* ----- GENERAL SETUP ----- */
* {
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

/* ----- IMAGE SECTION ----- */
.image-container {
    overflow: hidden;
    width: 35%;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures it fills the box and crops cleanly */
}

.image-container .overlay {
    position: absolute;
    top: 500px;          
    left: 200px;        
    height: 150px;
    width: 150px;
}

.image-container .image-text {
    position: absolute;  
    top: 530px;          
    left: 350px;
    font-size: 4.5rem;  
}


/* ----- MAIN SECTION ----- */
.main-section-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: #f5f5f5;
}

.header {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 15rem; 
}

.header h2 {
    font-size: 2rem;
    padding-right: 30rem;
}

.header .text {
    margin-top: 1rem;
    margin-bottom: 3rem;;
}

/* FORMS */
.forms {
    display: flex;
    text-align: center;
    gap: 3rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    position: relative;
    margin-top: 3rem;
}

.forms .forms-text {
    position: absolute; /* Position it above the forms */
    top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    pointer-events: none;  /* Click passthrough */
}

.left-forms,
.right-forms {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
}

.left-forms form,
.right-forms form {
    display: flex;
    flex-direction: column;
    text-align: left; /* Align labels and inputs to the left */
}

.forms label {
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #333;
    margin-bottom: 0.25rem;
}

.forms input {
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

/* FORMS VALIDATION */
.forms input:focus {
    outline: none; /* Removes default browser outline */
    border-color: #3b82f6; /* blue */
}

.forms input[type="password"]:invalid {
    border-color: #ef4444;
}

.forms input:valid:not(:placeholder-shown) {
    border-color: #22c55e;
}


/* ----- FOOTER ----- */

.footer {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
}

.footer button {
    background-color: rgb(17, 206, 17);
    padding: 1.5rem 3rem;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: bold;
}

.footer p {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.footer a {
    color: #538f22; 
    text-decoration: none; 
    font-size: 1.5rem;
}

